Source: eprints
Section: web
Priority: extra
Maintainer: EPrints Software <software@eprints.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: http://www.eprints.org/eprints-3.4
Vcs-Git: git://github.com/eprints/eprints3.4.git
Vcs-Browser: https://github.com/eprints/eprints3.4

Package: eprints
Architecture: all
Depends: perl, libncurses5, libselinux1, apache2, libapache2-mod-perl2, libxml-libxml-perl, libunicode-string-perl, libterm-readkey-perl, libmime-lite-perl, libmime-types-perl, libdigest-sha-perl, libdbd-mysql-perl, libxml-parser-perl, libxml2-dev, libxml-twig-perl, libarchive-any-perl, libjson-perl, lynx, wget, ghostscript | gs, poppler-utils, antiword, python3-html2text, texlive-base, texlive-base-bin, psutils, imagemagick, adduser, tar (>= 1), gzip (>= 1), mysql-server | mariadb-server, mysql-client | mariadb-client, unzip, libsearch-xapian-perl, libtex-encode-perl, libjson-perl, libconfig-general-perl, liblwp-protocol-https-perl, libtext-unidecode-perl, libio-string-perl
Description: Content Management System for Information Archiving
 EPrints is a web-based content management system. It allows a large
 number of contributors to share their digital objects/documents with
 others. Contributors provide descriptive data (metadata) which is
 dependent on the type of object being deposited (presentations, articles, books etc.).
 Before being published objects must be accepted by an editor. Users can
 access published objects through web-page listings, searches, email
 alerts or via integration with other systems.
